[tool.poetry]
name = "pipen-report"
version = "0.4.0"
description = "Report generation system for pipen"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/pipen-report"
repository = "https://github.com/pwwang/pipen-report"

[tool.poetry.dependencies]
python = "^3.7.1"
pipen = "^0.3"
json5 = "^0.9"
cmdy = "^0.5"
xqute = "^0.0"

[tool.poetry.dev-dependencies]
pytest = "^7"
pytest-cov = "^3"
pytest-xdist = "^2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.plugins.pipen]
report = "pipen_report:PipenReport"

[tool.poetry.plugins.pipen_cli]
cli-report = "pipen_report:PipenCliReport"

[tool.pytest.ini_options]
addopts = "-vv -n auto -W error::UserWarning --cov-config=.coveragerc --cov=pipen_report --cov-report xml:.coverage.xml --cov-report term-missing"
console_output_style = "progress"
junit_family = "xunit1"

[tool.mypy]
ignore_missing_imports = true
allow_redefinition = true
disable_error_code = ["attr-defined", "no-redef"]
show_error_codes = true
strict_optional = false

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
