import svelte from 'rollup-plugin-svelte';
import commonjs from '@rollup/plugin-commonjs';
import resolve from '@rollup/plugin-node-resolve';
import alias from '@rollup/plugin-alias';
import terser from '@rollup/plugin-terser';
import css from 'rollup-plugin-css-only';
import copy from 'rollup-plugin-copy';
import json from '@rollup/plugin-json';
import data from './src/data.json' assert { type: 'json' };

const commonConfig = (proc_name = null, page = 0, cssfile = 'index.css') => ({
	plugins: [
		svelte({
			compilerOptions: { dev: false },
			onwarn: (warning, handler) => {
				// carbon-components-svelte 0.37.5
				// svelte 3.58.0
				if (warning.code.startsWith("a11y-")) return;
				handler(warning);
			}
		}),
		alias({
			entries: [
				{ find: '$components', replacement: '../../components' },
				{ find: '$component', replacement: '../../components' },
				{ find: '$layouts', replacement: '../../layouts' },
				{ find: '$layout', replacement: '../../layouts' },
				{ find: '$libs', replacement: '../../components' },
				{ find: '$lib', replacement: '../../components' },
				{ find: '$ccs', replacement: 'carbon-components-svelte' },
				{% if extlibs %}
				{ find: '$extlibs', replacement: '{{extlibs}}' },
				{% endif %}
			]
		}),

		// we'll extract any component CSS out into
		// a separate file - better for performance
		css({ output: cssfile }),

		// https://github.com/rollup/plugins/tree/master/packages/commonjs
		resolve({ browser: true, dedupe: ['svelte'] }),
		commonjs(),
		terser(),
		json(),
		copy(
			proc_name === null ? {} : {
				targets: [{
					src: 'src/proc.html',
					dest: `public/procs/${proc_name}/`,
					rename: page === 0 ? 'index.html' : `index-${page}.html`
				}]
			}
		)
	],
	watch: { clearScreen: false }
});

// Common output configuration
const commonOutput = {
	sourcemap: false,
	format: 'iife'
}

// Configuration for the index page
const indexConfig = {
	input: 'src/pages/_index/index.js',
	output: {
		file: 'public/index/index.js',
		name: 'Index',
		...commonOutput
	},
	...commonConfig()
}

// Generate config for a single proc
const procConfig = (proc) => {
	const out = [{
		input: `src/pages/${proc.name}/index.js`,
		output: {
			file: `public/procs/${proc.name}/index.js`,
			name: proc.name,
			...commonOutput
		},
		...commonConfig(proc.name)
	}];
	if (proc.npages !== undefined && proc.npages !== null && proc.npages > 1) {
		for (let i = 1; i < proc.npages; i++) {
			out.push({
				input: `src/pages/${proc.name}-${i}/index.js`,
				output: {
					file: `public/procs/${proc.name}/index-${i}.js`,
					name: proc.name,
					...commonOutput
				},
				...commonConfig(proc.name, i, `index-${i}.css`)
			});
		}
	}
	return out;
}

// Configuration for the proc pages
const entryConfigs = (entries) => {
	let out = []
	for (let entry of entries) {
		if (entry.procs) {
			for (let proc of entry.procs) {
				out = out.concat(procConfig(proc));
			}
		} else {
			out = out.concat(procConfig(entry));
		}
	}
	return out;
}

export default [indexConfig, ...entryConfigs(data.entries)];
